{{ define "content" }}

  <main>
    <section class="banner">
      <!-- Bannière principale avec titre accrocheur et image -->
      <h1 class="title">La Maison du Livre</h1>
      <img src="images/banner-image.jpg" alt="Bannière du site">
    </section>

    <section class="search">
      <!-- Section de recherche avec barre de recherche et bouton -->
      <div class="search-container">
      <input type="text" placeholder="Rechercher des livres...">
      <i class="fas fa-search"></i>
      </div>
    </section>
  </main>
  <hr>
  <section class="book-landing">

    <div class="book-details">
      <div class="cover">
        <img src="images/book1.jpg" alt="Couverture du livre">
      </div>
      <div class="info">
        <h2 class="informations-text">Informations</h2>
        <div class="info-details">
          <p class="book-title">   🔸 Titre : <p>Une si longue lettre</p></p>
          <p class="author">   🔸 Auteur : <p>Mariama Ba</p></p>
          <p class="publication-date">   🔸 Date de publication : <p>01/01/2000</p></p>
          <!-- Ajoute les autres détails ici (titre, etc.) -->
        </div>
      </div>
    </div>
    <div class="description">
      <h2 class="description-text">Description</h2>
      <p>Une si longue lettre est le premier roman de l'écrivaine sénégalaise Mariama Bâ publié pour la première fois en 1979. Écrit en français, l'ouvrage prend la forme d'un roman épistolaire où Ramatoulaye Fall raconte à Aïssatou, son amie de longue date, son veuvage et sa vie de femme et de mère.</p>
    </div>

    <div class="download-button">
      <a href="chemin_vers_le_fichier.pdf" class="download-button">Télécharger</a>
    </div>

  </section>

{{ end }}  
